<a href="https://colab.research.google.com/github/JayaraniArunachalam/SVM/blob/main/Jayarani_SVM_Tokenization_Vectorization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as snp
import pandas as pd
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [2]:
import string
from nltk.corpus import stopwords

Let us write a function which removes punctuation and stopwords from our data

In [11]:
b = [punc for punc in string.punctuation]

In [18]:
c = stopwords.words('english')
c.insert(len(c),"virginamerica")

In [7]:
def text_process(msg):
    nopunc =[char for char in msg if char not in b]
    nopunc=''.join(nopunc)
    return ' '.join([word for word in nopunc.split() if word.lower() not in c])

In [17]:
tweet_df= pd.read_csv("Tweets.csv")

In [6]:
tweet_df.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [19]:
pd.set_option('display.max_colwidth', -1)
tweet_df['tokenized_text'] = tweet_df['text'].apply(text_process)
tweet_df[["text","tokenized_text"]]

<ipython-input-19-01d53c3dba25>:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,text,tokenized_text
0,@VirginAmerica What @dhepburn said.,dhepburn said
1,@VirginAmerica plus you've added commercials to the experience... tacky.,plus youve added commercials experience tacky
2,@VirginAmerica I didn't today... Must mean I need to take another trip!,didnt today Must mean need take another trip
3,"@VirginAmerica it's really aggressive to blast obnoxious ""entertainment"" in your guests' faces &amp; they have little recourse",really aggressive blast obnoxious entertainment guests faces amp little recourse
4,@VirginAmerica and it's a really big bad thing about it,really big bad thing
...,...,...
14635,@AmericanAir thank you we got on a different flight to Chicago.,AmericanAir thank got different flight Chicago
14636,@AmericanAir leaving over 20 minutes Late Flight. No warnings or communication until we were 15 minutes Late Flight. That's called shitty customer svc,AmericanAir leaving 20 minutes Late Flight warnings communication 15 minutes Late Flight Thats called shitty customer svc
14637,@AmericanAir Please bring American Airlines to #BlackBerry10,AmericanAir Please bring American Airlines BlackBerry10
14638,"@AmericanAir you have my money, you change my flight, and don't answer your phones! Any other suggestions so I can make my commitment??",AmericanAir money change flight dont answer phones suggestions make commitment
14639,@AmericanAir we have 8 ppl so we need 2 know how many seats are on the next flight. Plz put us on standby for 4 people on the next flight?,AmericanAir 8 ppl need 2 know many seats next flight Plz put us standby 4 people next flight

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
vectorizer = CountVectorizer(max_df = 0.9,min_df = 10)
X = vectorizer.fit_transform(tweet_df['tokenized_text'])

In [25]:
X.shape

(14640, 1772)

In [26]:
X.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

Removingf the neutral reviews from the data

In [27]:
new_df = tweet_df.loc[tweet_df["airline_sentiment"] != "neutral"]

Label encoding the airline_sentiment colum

In [ ]:
from sklearn.preprocessing import LabelEncoder

# create a LabelEncoder object
le = LabelEncoder()

# fit the encoder to the "airline_sentiment" variable and transform it
new_df["encoded_airline_sentiment"] = le.fit_transform(new_df["airline_sentiment"])

In [30]:
# display the resulting DataFrame
new_df[["airline_sentiment","encoded_airline_sentiment"]]

      airline_sentiment  encoded_airline_sentiment
1      positive          1
3      negative          0
4      negative          0
5      negative          0
6      positive          1
...         ...         ..
14633  negative          0
14634  negative          0
14635  positive          1
14636  negative          0
14638  negative          0

[11541 rows x 2 columns]

Splitting the train and test data

In [31]:
from sklearn.model_selection import train_test_split
text_train,text_test,review_train,review_test = train_test_split(new_df['tokenized_text'],new_df['encoded_airline_sentiment'],test_size=0.2)